h1 {
    color: blueviolet;
    text-align: left;
    border: 10px double yellow;
    background-color: orange;
    width: 100%;
}
p {
    color:darkgreen;
    text-align: center;
    border: dotted black;
}
div {
    background-color: teal;
    width: 50%;
    height: 400px; 
    margin: 30px;
    padding: 25px;
    font-family: Arial;
    font-size: 50px;
    font-weight: bold;
   }